{{ define "main" }}

<style>
  #dedication-title-section {
      background-color: #782579;
  }
  .bryn-dedication-flex {
    flex-direction: column-reverse;
  }
  .swapped-image-flex {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 992px) {
    .about-us-information-image {
    background-size: cover !important;
  }
  .bryn-dedication-flex {
    flex-direction: initial;
  }
  .swapped-image-flex {
    flex-direction: initial;
  }
  }
  @media screen and (min-width: 1200px) {
  }
</style>

<style>
.about-us-information-image {
  background-image: url("{{ .Site.Params.cloudinary_url }}{{ .Page.Params.about_us_section.photo }}");
  background-size: contain;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}
</style>

<section id="about-us-information">
  <div class="flex flex-wrap items-center swapped-image-flex">
    <div class="w-3/4 lg:w-2/3 mx-auto py-5 lg:py-16 lg:px-24">
      <div class="">
      <h2 class="text-4xl xxl:text-5xl pb-5 purple-heading">{{ .Page.Params.about_us_section.title }}</h2>
      {{ range .Page.Params.about_us_section.paragraph_text }}
        <p class="pb-5">{{ . }}</p> 
      {{ end }}
    </div>
    </div>
    <div class="w-full lg:w-1/3 text-center mx-auto about-us-information-image">
      <div class="py-32"></div>
      <div class="lg:py-32"></div>
      <div class="lg:py-10"></div>
    </div>
  </div>
</section>

<section id="dedication-title-section">
  <div class="flex">
    <div class="w-2/3 lg:w-1/2 mx-auto py-8 lg:py-12">
      <h2 class="text-4xl xxl:text-5xl text-center text-white">{{ .Page.Params.pre_dedication.text }}</h2>
    </div>
  </div>
</section>

<section id="dad-mom-dedication-section">
  <div class="flex flex-wrap pb-5 lg:py-0">
    <div class="w-3/4 lg:w-1/3 lg:pl-24 text-left mx-auto">
      <h2 class="text-5xl xxl:text-6xl py-12 lg:py-24 purple-heading">{{ .Page.Params.first_dedication_section.title }}</h2>
    </div>
    <div class="w-3/4 lg:w-2/3 mx-auto lg:py-24 lg:pr-32 italic mx-auto">
      <div class="lg:px-12">
        {{ range .Page.Params.first_dedication_section.paragraph_text }}
          <p class="pb-5">{{ . }}</p>  
        {{ end }}
    </div>
    </div>
  </div>
</section>

<section id="bryn-dedication-section">
  <div class="flex flex-wrap pb-24 bryn-dedication-flex">
    <div class="w-3/4 lg:w-2/3 lg:px-24 text-left italic mx-auto">
      {{ range .Page.Params.second_dedication_section.paragraph_text }}
        <p class="pb-5">{{ . }}</p>
      {{ end }}
    </div>
    <div class="w-3/4 lg:w-1/3 mx-auto lg:pr-32">
      <div class="">
        <h2 class="text-5xl xxl:text-6xl pb-8 lg:pb-0 purple-heading">{{ .Page.Params.second_dedication_section.title }}</h2>
    </div>
    </div>
  </div>
</section>



{{ end }}