{{ define "main" }}

<style>

  #contact-us-section input {
      width: 95%;
  }

  #contact-us-section textarea {
      width: 98%;
      font-family: "freight-sans-pro",sans-serif;
      font-weight: 600;
      letter-spacing: .5px;
      border-color: #e4e4e4;
      border-width: 1px;
      border-radius: 5px;
      padding: 10px;
      height: 150px;
  }
  
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 992px) {
    .contact-us-image {
      display: inline-block !important;
    }
   
  }
  @media screen and (min-width: 1200px) {
  }
</style>

<style>
.contact-us-image {
  background-image: url("{{ .Site.Params.cloudinary_url }}{{ .Page.Params.contact_section.photo }}");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
  display: none;
}
</style>

<section id="contact-us-section">
  <div class="flex flex-wrap items-center">
    <div class="w-3/4 lg:w-2/3 mx-auto py-8 lg:px-24">
      <div class="lg:px-12">
      <h2 class="text-5xl xxl:text-6xl pb-5 purple-heading">{{ .Page.Params.contact_section.title }}</h2>
      <form action="/thank-you" netlify-honeypot="field-for-coolguys" name="contact-form" method="POST" netlify class="flex flex-wrap">
        <input type="hidden" name="subject" value="New submission!" />
          <div class="w-full lg:w-1/2">
            <label><p class="pb-2">Name</p></label>
            <input type="text" placeholder="Your Name" name="name" required>
          </div>
          <div class="w-full pt-5 lg:pt-0 lg:w-1/2">
            <label><p class="pb-2">Email</p></label>
            <input type="text" placeholder="Your Email" name="email" required>
          </div>
          <input type="text" name="field-for-coolguys" style="display:none" />
          <div class="w-full">
            <label><p class="pt-5 pb-2">Message</p></label>
            <textarea placeholder="Your Message" name="message" required></textarea>
          </div>
          <div class="w-1/3 md:w-1/4 py-5 ml-auto">
            <input type="Submit" value="Send">
          </div>
        </form>
    </div>
    </div>
    <div class="w-full lg:w-1/3 text-center mx-auto contact-us-image">
      <div class="py-32"></div>
      <div class="lg:py-32"></div>
      <div class="xxl:py-5"></div>
    </div>
  </div>
</section>

{{ end }}