{{ define "main" }}

<style>

  .past-winner-content-expanded {
    font-size: 0px;
    height: 0px;
    transition: .2s;
  }
  .read-more-toggle {
    font-size: 20px !important;
    height: 100% !important;
    transition: .2s;
  }
  .hide-read-more {
    display: none;
  }
  .read-more {
    font-family:"freight-display-pro";
    background-color: transparent;
    color: #782579;
    padding: 0px;
    font-weight: 400;
  }
  .read-more-link button:hover {
    background-color: transparent;
    color: #3E133E
  }
  .close-read-more {
    font-family:"freight-display-pro";
    background-color: transparent;
    color: #782579;
    padding: 0;
    margin-top: 1.25rem;
    font-weight: 400;
    float: left;
  }
  .close-read-more-link button:hover {
    background-color: transparent;
    color: #3E133E
  }
  .swapped-image-flex {
    flex-direction: column-reverse;
  }

  .past-recipient-image {
    background-size: 100%;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    .swapped-image-flex {
    flex-direction: initial;
  }
  .past-recipient-image {
    background-size: 100%;
    background-position-y: 0px !important;
  }
  }
  @media screen and (min-width: 992px) {

  }
  @media screen and (min-width: 1200px) {
  }
</style>

{{ range .Site.Data.past_recipiants.recipiants }}

<section id="past-recipient-{{ .year }}">
  <div class="flex flex-wrap items-top {{ if eq .image_swap_sides true }}swapped-image-flex{{ else }}{{ end }}">
    {{ if eq .image_swap_sides false }}
    <div class="w-full md:w-1/3 text-center mx-auto past-recipient-image" style="background-image: url('https://res.cloudinary.com/pioneer-design/image/upload{{ .photo }}');background-position-y: top;background-position-x: center;background-repeat: no-repeat;max-height:500px;">
      <div class="py-24"></div>
      <div class="sm:py-24"></div>
      <div class="md:py-8"></div>
    </div>
    {{ else }}{{ end }}
    <div class="w-3/4 md:w-2/3 mx-auto py-16 lg:px-24">
      <div class="md:px-12">
      <h2 class="text-4xl xxl:text-5xl pb-5 purple-heading">{{ .title }}</h2>
      <p class="pb-5">{{ .summary }}</p> <a href="#past-recipient-{{ .year }}" class="read-more-link"><button class="read-more" v-on:click="homereadMore = !homereadMore; closereadMore = !closereadMore" v-bind:class="{ 'hide-read-more' : homereadMore}">Read More</button><p class="past-winner-content-expanded" v-bind:class="{ 'read-more-toggle' : homereadMore }"></a>{{ .read_more }}<br><a href="#past-recipient-{{ .year }}" class="close-read-more-link"><button class="close-read-more" v-on:click="homereadMore = !homereadMore; closereadMore = !closereadMore" v-bind:class="{ 'hide-read-more' : closereadMore }">Close</button></a></p>
    </div>
    </div>
    {{ if eq .image_swap_sides true }}
    <div class="w-full md:w-1/3 text-center mx-auto past-recipient-image" style="background-image: url('https://res.cloudinary.com/pioneer-design/image/upload{{ .photo }}');background-position-y: top;background-position-x: center;background-repeat: no-repeat;max-height:500px;">
      <div class="py-32"></div>
      <div class="py-8"></div>
      <div class="md:py-24"></div>
    </div>
    {{ else }}{{ end }}
  </div>
  <script>
  var readMore = new Vue({
    el: '#past-recipient-{{ .year }}',
    data: {
      homereadMore: false,
      closereadMore: true
    },
  });
  </script>
</section>

{{ end }}

<section id="setting-information">
  <div class="flex flex-wrap items-top swapped-image-flex">
    <div class="w-3/4 md:w-2/3 mx-auto py-16 lg:px-24">
      <div class="md:px-12">
      <h2 class="text-4xl xxl:text-5xl pb-5 purple-heading">Bethany’s Place - 2006 - 2011</h2>
      <p class="pb-5">All profits collected from 2006 to 2011 helped fund the recent addition of Bethany’s Place at Ogeechee Area Hospice. Bethany’s Place is a large conference-community room with restroom facilities and a serving kitchen. The space can accommodate activities for the more than 75 employees and 85 volunteers. Plans for the room also include educational sessions for the community, bereavement activities and other events associated with Hospice and palliative care.</p> 
    </div>
    </div>
    <div class="w-full md:w-1/3 text-center mx-auto past-recipient-image" style="background-image: url('/pageimg/2006-2011.BethanysPlace.JPG');background-position-y: top;background-position-x: center;background-repeat: no-repeat;max-height:500px;">
      <div class="py-32"></div>
      <div class="md:py-32"></div>
    </div>
  </div>
</section>

{{ end }}