{{ define "main" }}

<h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h1>
<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h2>
<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h3>
<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>
<h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h5>
<h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h6>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

<input type="text" placeholder="Text">
<select>
  <option name="hey">hey</option>
  <option name="hey">hey</option>
  <option name="hey">hey</option>
  <option name="hey">hey</option>
</select>
<textarea></textarea>

<a href="#">
<button>
  Button
</button>
</a>

<a href="#">
<button class="secondary-button">
  Button
</button>
</a>

<a href="#">
<button class="outline-button">
  Button
</button>
</a>

<a href="#">
<button class="secondary-outline-button">
  Button
</button>
</a>

{{ end }}