{{ define "main" }}

<style>
  #schedule-section {
    background-color: #fafafa;
  }
  #testimonial-section {
    background-color: #782579;
  }
  .schedule-flex-box {
    flex-direction: column-reverse;
  }
  .tickets-include-list {
    list-style: none;
  }
  .bethanys-information {
    
  }
  .past-winner-content-expanded {
    font-size: 0px;
    transition: .2s;
  }
  .read-more-toggle {
    font-size: 20px !important;
    transition: .2s;
  }
  .hide-read-more {
    display: none;
  }
  .read-more {
    font-family:"freight-display-pro";
    background-color: transparent;
    color: #782579;
    padding: 0px;
    font-weight: 400;
  }
  .read-more-link button:hover {
    background-color: transparent;
    color: #3E133E
  }
  .close-read-more {
    font-family:"freight-display-pro";
    background-color: transparent;
    color: #782579;
    padding: 0;
    margin-top: 1.25rem;
    font-weight: 400;
    float: left;
  }
  .close-read-more-link button:hover {
    background-color: transparent;
    color: #3E133E
  }
  .testimonial-name {
    font-family:"freight-display-pro";
    opacity: .5;
    font-size: 24px;
  }
  .swapped-image-flex {
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 992px) {
    #header-overlay-section {
    background-size: 66.8% !important;
  }
  .bethany-venue-image {
    background-size: cover !important;
  }
  .schedule-flex-box {
    flex-direction: initial;
  }
  .past-year-winner-image {
    background-size: 100% !important;
    max-height: 800px !important;
  }
  .bethany-venue-image {
    display: inline-block !important;
  }
  .swapped-image-flex {
    flex-direction: initial;
  }
  }
  @media screen and (min-width: 1200px) {
  }
</style>

<style>
#header-overlay-section {
  background-image: url("{{ .Page.Params.homepage_hero_image }}");
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: #3E133E;
}
</style>

<section id="header-overlay-section" class="-mt-32">
  <div class="py-16 lg:py-20"></div>
  <div class="container flex header-overlay-box">
    <div class="w-3/4 mx-auto header-overlay-content">
      <h1 class="text-5xl lg:text-6xl text-white lg:whitespace-pre-line">{{ .Page.Params.homepage_title }}</h1>
    </div>
  </div>
  <div class="py-8 lg:py-20"></div>
</section>

<style>
.bethany-venue-image {
  background-image: url("{{ .Page.Params.event_details.venue_image }}");
  background-size: contain;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
  display: none;
}
</style>

<section id="schedule-section">
  <div class="flex flex-wrap items-center swapped-image-flex schedule-flex-box">
    <div class="w-full lg:w-1/3 bethany-venue-image">
      <div class="py-32"></div>
      <div class="lg:py-32"></div>
    </div>
    <div class="flex flex-wrap w-full lg:w-2/3 xl:w-1/2 bethanys-information">
      <div class="w-3/4 md:w-1/2 py-16 lg:py-0 pl-0 md:pl-24 lg:pl-12 pr-0 xxl:pr-12 mx-auto md:ml-auto">
        <h2 class="text-4xl xxl:text-5xl purple-heading">{{ .Page.Params.event_details.title }}</h2>
        <h4 class="pt-6">{{ .Page.Params.event_details.first_day.date }}</h4>
        {{ range .Page.Params.event_details.first_day.events }}
        <p class="small-p">{{ . }}</p>
        {{ end }}
        <h4 class="pt-4">{{ .Page.Params.event_details.second_day.date }}</h4>
        {{ range .Page.Params.event_details.second_day.events }}
        <p class="small-p">{{ . }}</p>
        {{ end }}
        <h4 class="pt-4">{{ .Page.Params.event_details.location.building }}</h4>
        <p class="small-p">{{ .Page.Params.event_details.location.street }}</p>
        <p class="small-p">{{ .Page.Params.event_details.location.city }}, {{ .Page.Params.event_details.location.state }}. {{ .Page.Params.event_details.location.zip }}</p>
      </div>
      <div class="w-3/4 md:w-1/2 py-16 lg:py-0 md:px-12 mx-auto md:mr-auto">
        <h2 class="text-4xl xxl:text-5xl purple-heading">{{ .Page.Params.included_with_tickets.title }}</h2>
        <ul class="pt-6 px-0 tickets-include-list">
          {{ range .Page.Params.included_with_tickets.items_included_with_ticket }}
          <li class="pb-2 small-p">- {{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .past-year-winner-image {
    background-image: url("{{ .Page.Params.current_year_honoree.photo }}");
    background-size: contain;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
  }
</style>

<section id="past-year-winner">
  <div class="flex flex-wrap items-top swapped-image-flex">
    <div class="w-3/4 lg:w-2/3 mx-auto py-16 lg:px-32">
      <div class="lg:px-12">
      <h2 class="text-4xl xxl:text-5xl pb-5 purple-heading">{{ .Page.Params.current_year_honoree.title }}</h2>
      <p class="pb-5">{{ .Page.Params.current_year_honoree.summary }}</p> {{ if .Page.Params.current_year_honoree.read_more }} <a href="#past-year-winner" class="read-more-link"><button class="read-more" v-on:click="homereadMore = !homereadMore; closereadMore = !closereadMore" v-bind:class="{ 'hide-read-more' : homereadMore}">Read More</button><p class="past-winner-content-expanded" v-bind:class="{ 'read-more-toggle' : homereadMore }"></a>{{ .Page.Params.current_year_honoree.read_more }}<br><a href="#past-year-winner" class="close-read-more-link"><button class="close-read-more" v-on:click="homereadMore = !homereadMore; closereadMore = !closereadMore" v-bind:class="{ 'hide-read-more' : closereadMore }">Close</button></a>{{ else }}{{ end }}
    </div>
    </div>
    <div class="w-full lg:w-1/3 text-center mx-auto past-year-winner-image">
      <div class="py-32"></div>
      <div class="lg:py-12"></div>
    </div>
  </div>
</section>

<section id="testimonial-section">
  <div class="flex">
    <div class="w-2/3 lg:w-1/2 mx-auto py-16 lg:py-32">
      <h3 class="text-3xl xxl:text-4xl pb-5 text-center text-white">"{{ .Page.Params.testimonial.text }}"</h3>
      <p class="text-white text-center testimonial-name">{{ .Page.Params.testimonial.person }}</p>
    </div>
  </div>
</section>

<section id="brief-history">
  <div class="flex flex-wrap py-16 lg:py-0">
    <div class="w-3/4 lg:w-1/3 lg:pl-32 text-left mx-auto">
      <h2 class="text-5xl xxl:text-6xl py-12 lg:py-24 lg:pl-12 purple-heading">{{ .Page.Params.history_section.title }}</h2>
    </div>
    <div class="w-3/4 lg:w-2/3 mx-auto lg:py-24 lg:pr-32 mx-auto">
      <div class="lg:px-12">
      {{ range .Page.Params.history_section.paragraph_text }}
      <p class="pb-5">{{ . }}</p>
      {{ end }}
    </div>
    </div>
  </div>
</section>

{{ end }}