<style>
  html {
    max-width: 1440px;
    margin: auto;
  }
  #header {
    background-color: transparent;
  }
  #inner-page #header-functions {
    background-color: #3E133E;
  }
  #inner-page #navigation-wrapper {
    background-color: #782579;
    right: -20px;
    position: relative;
    padding-right: 73px;
  }
  #navigation-wrapper {
    padding-right: 30px;
  }
  .mobile-menu-list {
    list-style: none;
  }
  .desktop-menu-item {
    font-family: "freight-sans-pro",sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }

  .desktop-menu-item span:hover {
    color: #cccccc;
    border-bottom-width: 1px;
    border-color: #782579;
    padding-top: 3px;
    padding-bottom: 2px;
  }

  #inner-page .desktop-menu-item span:hover {
    border-bottom-width: 1px;
    color: #fff;
    border-color: #fff;
    padding-top: 3px;
    padding-bottom: 2px;
  }

  #footer .desktop-menu-item span:hover {
    border-width: 0px;
    padding: 0px;
    color: #cccccc;
  }
  .purple-heading {
    color: #782579;
  }

  .close-menu {
    color: #fff;
  }
  .close-menu .hydrated {
    font-size: 30px;
    color: #fff;
    background-color: transparent !important;
  }
  .mobile-menu-button .hydrated {
    font-size: 30px;
    color: #fff;
  }
  #logo img {
    min-width: 180px;
    width: 180px;
  }
  #mobile-menu-logo img {
    min-width: 130px;
    width: 180px;
  }
  .mobile-menu-list {
    font-family:"freight-display-pro";
  }
  .mobile-menu-list a {
    font-family:"freight-display-pro";
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    line-height: 1.5;
  }
  h1 {
    font-family:"freight-display-pro";
    font-size: 64px;
    font-weight: 300;
  }
  h2 {
    font-family:"freight-display-pro";
    font-size: 44px;
    font-weight: 300;
  }
  h3 {
    font-family:"freight-display-pro";
    font-size: 36px;
    font-weight: 300;
  }
  h4 {
    font-family:"freight-display-pro";
    font-size: 24px;
    font-weight: 300;
  }
  h5 {
    font-family:"freight-display-pro";
    font-size: 16px;
    font-weight: 300;
  }
  h6 {
    font-family: "freight-sans-pro",sans-serif;
    font-size: 10px;
    font-weight: 300;
  }

  p {
    font-family: "freight-sans-pro",sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
  }

  .small-p {
    font-family: "freight-sans-pro",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  li {
    font-family: "freight-sans-pro",sans-serif;
  }
  button {
    background-color: #3E133E;
    font-family: "freight-sans-pro",sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #fff;
    padding: 11px 28px 11px 28px;
    border-radius: 5px;
    transition: .2s;
  }
  .close-menu button {
    background-color: #511952 !important;
  }
  button:hover {
    background-color: #2A0D2B;
    cursor: pointer;
    transition: .2s;
  }
  .close-menu button:hover {
    background-color: #511952 !important;
  }
  button:active {
    background-color: #090303;
  }
  .close-menu button:active {
    background-color: #511952 !important;
  }
  button:focus {
    background-color: #2A0D2B;
    outline: 0px;
  }
  input[type=submit] {
    background-color: #3E133E;
    font-family: "freight-sans-pro",sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #fff;
    padding: 11px 28px 11px 28px;
    border-radius: 5px;
    transition: .2s;
  }
  input[type=submit]:hover {
    background-color: #2A0D2B;
    cursor: pointer;
    transition: .2s;
  }
  input[type=submit]:active {
    background-color: #090303;
  }
  input[type=submit]:focus {
    background-color: #2A0D2B;
    outline: 0px;
  }
  .outline-button {
    color: #3E133E;
    border-color: #3E133E;
    border-width: 1px;
    font-family: "freight-sans-pro",sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    padding: 11px 28px 11px 28px;
    border-radius: 5px;
    transition: .2s;
  }
  .outline-button:hover {
    color: #fff;
    background-color: #3E133E;
    cursor: pointer;
    transition: .2s;
  }
  .outline-button:active {
    background-color: #090303;
    color: #fff;
  }
  .outline-button:focus {
    background-color: #2A0D2B;
    outline: 0px;
    color: #fff;
  }
  .secondary-button {
    background-color: #7F2629;
    font-family: "freight-sans-pro",sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 11px 28px 11px 28px;
    border-radius: 5px;
    transition: .2s;
  }
  .secondary-button:hover {
    background-color: #441416;
    cursor: pointer;
    transition: .2s;
  }
  .secondary-button:active {
    background-color: #090303;
  }
  .secondary-button:focus {
    background-color: #441416;
    outline: 0px;
  }
  .secondary-outline-button {
    color: #7F2629;
    border-color: #7F2629;
    border-width: 1px;
    font-family: "freight-sans-pro",sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    padding: 11px 28px 11px 28px;
    border-radius: 5px;
    transition: .2s;
  }
  .secondary-outline-button:hover {
    color: #fff;
    background-color: #7F2629;
    cursor: pointer;
    transition: .2s;
  }
  .secondary-outline-button:active {
    background-color: #090303;
    color: #fff;
  }
  .secondary-outline-button:focus {
    background-color: #2A0D2B;
    outline: 0px;
    color: #fff;
  }
  input {
    font-family: "freight-sans-pro",sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    border-color: #e4e4e4;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
  }

</style>

<div id="header-functions">

<section id="header" class="px-5 xl:container header-container">
      <div class="flex items-center h-32">
<a id="logo" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mx-auto" href="/">
    <img src="/pageimg/BFDDN.Logo.White.svg">
</a>
{{ partial "site-navigation.html" . }}

</div>
</section>

<div class="mobile-menu" v-bind:class="{ 'mobile-menu-toggle' : menuToggle }">
  <div class="px-5 xl:container header-container">
  <div class="flex items-center h-32">
  <a id="mobile-menu-logo" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mr-auto" href="/">
    <img src="/pageimg/BFDDN.Logo.White.svg">
  </a>
  <a class="ml-auto w-1/2 text-right pr-2 close-menu" href="#"><button v-on:click="menuToggle = !menuToggle" class="px-2"><ion-icon name="close"></ion-icon></button></a>
  </div>
  <ul class="container text-left p-0 px-12 pb-5 mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    <li class="pt-2 pb-2 mobile-menu-item"><a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</div>
</div>

</div>
 
