<style>
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
  }
  p {
    font-family: 'Montserrat', sans-serif;
  }
  button {
    font-family: 'Montserrat', sans-serif;
  }
  #logo {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    color: green;
    text-decoration: none;
  }
  #logo h1 {
    font-weight: 900;
  }
  #mobile-menu-logo {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  .green {
    background-color: whitesmoke;
  }
  .green-mobile {
    background-color: green;
  }
  .mobile-menu-list {
    list-style: none;
  }
  .close-menu {
    color: #fff;
  }
  .mobile-menu-item a {
    font-size: 25px;
    text-decoration-style: dashed;
    color: white;
  }
  .phone-mobile-menu {
    border-style: dashed;
    border-width: 5px;
    border-color: white;
  }
  .phone-mobile-menu ion-icon {
    font-size: 30px;
    color: white;
  }
  .desktop-menu {
    border-style: dashed;
    border-width: 1px;
    border-color: #dae1e7;
    background-color: whitesmoke;
  }
  .desktop-menu-item {
    text-decoration: none;
    background-color: white;
    color: green;
    font-size: 22px;
    font-family: 'IBM Plex Mono', monospace;
    transition: .1s;
  }
  .desktop-menu-item:hover {
    font-weight: bold;
    transition: .2s;
  }
  .services-menu:hover ~ .desktop-mega-services {
    opacity: 1;
    height: 29%;
    z-index: 999;
    transition: .2s;
  }
  .desktop-mega-services {
    background-color: white;
    border-style: dashed;
    border-top-style: none;
    border-width: 1px;
    border-color: #dae1e7;
    position: absolute;
    opacity: 0;
    height: 0px;
    z-index: -999;
    transition: .2s;
  }
  .desktop-mega-services:hover {
    z-index: 999;
    opacity: 1;
    height: 29%;
  }
</style>

<div id="header-functions">

<section id="header" :class="{nonstick: scrollPosition < 100, stick: scrollPosition > 500}" class="container header-container">
        <div class="flex items-center px-5 h-32">
<a id="logo" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mx-auto" href="/">
    <h1><span class="green">green</span>Zero</h1>
</a>
{{ partial "site-navigation.html" . }}

</div>
</section>

<div class="mobile-menu" v-bind:class="{ 'mobile-menu-toggle' : menuToggle }">
  <div class="container mobile-menu-container">
  <div class="flex items-center px-5 h-32">
  <a id="mobile-menu-logo" class="flex-1 text-left" href="/">
    <h1><span class="green-mobile">green</span>Zero</h1>
  </a>
  <a class="ml-auto w-10 text-center close-menu" v-on:click="menuToggle = !menuToggle">menu<ion-icon name="remove"></ion-icon></a>
  </div>
  <ul class="text-center p-0 pb-5 mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    <li class="pt-2 pb-4 mobile-menu-item"><a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  <a href="tel:+19124320772">
    <div class="flex items-center py-5 mx-5 phone-mobile-menu">
      <div class="flex-1 text-center">
        <ion-icon name="call"></ion-icon>
      </div>
    </div>
  </a>
</div>
</div>

</div>
 
