{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ absURL (printf "%s%s" "/dist/" .) }}"></script>
{{ end }}

<script>

var siteFunctions = new Vue({
    el: '#header-functions',
    data: {
      menuToggle: false,
      scrollPosition: null
    },
    methods: {
     updateScroll() {
       this.scrollPosition = window.scrollY
     }
   },
 
   mounted() {
     window.addEventListener('scroll', this.updateScroll);
   },
});

var readMore = new Vue({
    el: '#past-year-winner',
    data: {
      homereadMore: false,
      closereadMore: true
    },
});

</script>